body {
  max-width: 1440px;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #f1f5f9;
}

.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}

.InfoMain {
  width: 1230px;
  padding: 20px;
  height: 100%;
}
.mainContainer {
  margin: 0 auto;
  position: relative;
}

.mainRtitle {
  position: absolute;
  display: flex;
  top: 30px;
  right: 0;
}

.mainRtitle button {
  display: flex;
  cursor: pointer;
}

.download {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  padding: 9px 15px;
  font-size: 14px;
  color: black;
}

.download img,
.plus img {
  width: 13px;
  height: 13px;
  margin-top: 4px;
  margin-right: 5px;
}

.plus {
  background-color: #1b3a6b;
  border-radius: 8px;
  padding: 9px 15px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.calculate_search {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding-inline: 14px 20px;
  display: flex;
  gap: 16px;
}

.calculate_search div {
  display: flex;
  gap: 8px;
}

.calculate_search label {
  font-size: 13px;
  font-weight: 900;
  color: #374151;
  line-height: 62px;
}

.calculate_search select {
  font-size: 13px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  height: 34px;
  margin-top: 15px;
  padding: 0 12px;
  width: 130px;
}

.calculate_search input {
  width: 108px;
  height: 34px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-top: 15px;
  padding: 0 12px;
  font-size: 13px;
  font-weight: 400;
  text-align: right;
  background-image: url("/Search (2).png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10;
}

.calculate_search button {
  display: flex;
  gap: 6px;
  padding: 0 20px;
  height: 34px;
  border-radius: 6px;
  margin-top: 15px;
  line-height: 34px;
  font-size: 13px;
}

.calculate_search button img {
  width: 13px;
  height: 13px;
  margin-top: 9px;
}

.search_btn {
  background-color: #1b3a6b;
  color: white;
  font-weight: bold;
}

.rotate_btn {
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.calculate_result {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 20px;
}

.result_head {
  display: flex;
  position: relative;
  height: 46px;
  padding: 0 20px;
  background-color: #f8fafc;
  border-bottom: 1px solid #e5e7eb;
}

.result_head img {
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-right: 8px;
}

.result_head span {
  font-size: 14px;
  line-height: 46px;
  font-weight: 700;
  color: #1b3a6b;
}

.result_head p {
  position: absolute;
  right: 20px;
  display: block;
  background-color: #eff6ff;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 900;
  color: #2563eb;
  line-height: 22px;
}

.result_list {
  display: flex;
  padding: 0 16px;
  background-color: #f1f5f9;
  border-bottom: 1px solid #e5e7eb;
  font-size: 12px;
  color: #6b7280;
  font-weight: 900;
  text-align: center;
  height: 38px;
  line-height: 38px;
}

.result_list li:first-child,
.result_list li:nth-child(6),
.result_list li:nth-child(10),
.result_list li:nth-child(12) {
  width: 90px;
}

.result_list li:nth-child(2),
.result_list li:nth-child(4),
.result_list li:nth-child(13) {
  width: 70px;
}

.result_list li:nth-child(3),
.result_list li:nth-child(5) {
  width: 100px;
}

.result_list li:nth-child(7),
.result_list li:nth-child(8),
.result_list li:nth-child(9),
.result_list li:nth-child(11) {
  width: 80px;
}

.pdf_cont {
  width: 100%;
  text-align: center;
}

.pdf_cont span.pdf_img {
  width: 48px;
  height: 48px;
  background-color: #eff6ff;
  display: block;
  border-radius: 12px;
  position: relative;
  margin: 10px 0 10px 152px;
}

.pdf_img img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pdf_text p {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 5px;
}

.pdf_text span {
  font-size: 14px;
  font-weight: lighter;
}

.pdf_button {
  margin-top: 30px;
  display: flex;
}

.pdf_button button {
  border-radius: 8px;
  height: 44px;
  width: 180px;
}

.pdf_cancel {
  border: 1px solid #d1d5db;
}

.pdf_select {
  background-color: #2563eb;
  color: white;
}
