.modal {
  width: 560px;
}

.modal_header {
  background-color: #1b3a6b;
  height: 50px;
  padding: 0 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  position: relative;
}

.modal_header img {
  width: 18px;
  height: 18px;
  margin-top: 15px;
  margin-right: 6px;
}

.modal_header_text {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.modal_header_text span {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.modal_header_text p {
  font-size: 10px;
  color: #60a5fa;
  margin-top: -3px;
}

.modal_header_date {
  background-color: #2d5f9e;
  color: #93c5fd;
  font-size: 11px;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
