body {
  max-width: 1440px;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #f1f5f9;
}

.main {
  display: flex;
  width: 100%;
}

.InfoMain {
  width: 1230px;
  padding: 20px;
  height: 100%;
}

.mainContainer {
  margin: 0 auto;
  position: relative;
}

.mainRtitle {
  position: absolute;
  display: flex;
  top: 30px;
  right: 0px;
}

.mainRtitle button {
  display: flex;
  cursor: pointer;
}

.download {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  padding: 9px 15px;
  font-size: 14px;
  color: black;
}

.download img,
.plus img {
  width: 13px;
  height: 13px;
  margin-top: 4px;
  margin-right: 5px;
}

.plus {
  background-color: #1b3a6b;
  border-radius: 8px;
  padding: 9px 15px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.database {
  width: 100%;
  padding: 0 20px;
  height: 46px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 20px;
  display: flex;
  gap: 8px;
  border: 1px solid #e5e7eb;
  margin-bottom: -20px;
  line-height: 46px;
  background-color: white;
}

.database img {
  width: 15px;
  height: 15px;
  margin-top: 15px;
}

.database span {
  font-size: 14px;
  font-weight: 700;
  color: #1b3a6b;
}

.pdf_cont {
  width: 100%;
  text-align: center;
}

.pdf_cont span.pdf_img {
  width: 48px;
  height: 48px;
  background-color: #eff6ff;
  display: block;
  border-radius: 12px;
  position: relative;
  margin: 10px 0 10px 152px;
}

.pdf_img img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pdf_text p {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 5px;
}

.pdf_text span {
  font-size: 14px;
  font-weight: lighter;
}

.pdf_button {
  margin-top: 30px;
  display: flex;
}

.pdf_button button {
  border-radius: 8px;
  height: 44px;
  width: 180px;
}

.pdf_cancel {
  border: 1px solid #d1d5db;
}

.pdf_select {
  background-color: #2563eb;
  color: white;
}

.modal_head {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.modal_head img {
  width: 18px;
  height: 18px;
}

.modal_head p {
  font-size: 16px;
  font-weight: 700;
}
