body {
  max-width: 1440px;
}

.container {
  margin: 0 auto;
  width: 1440px;
  background-color: #f1f5f9;
}

.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}

.InfoMain {
  width: 1230px;
  padding: 20px;
  height: 100%;
}

.mainContainer {
  margin: 0 auto;
  position: relative;
}

.mainRtitle {
  position: absolute;
  display: flex;
  top: 30px;
}

.mainRtitle button {
  display: flex;
  cursor: pointer;
}

.download {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  padding: 9px 15px;
  font-size: 14px;
  color: black;
}

.download img,
.plus img {
  width: 13px;
  height: 13px;
  margin-top: 4px;
  margin-right: 5px;
}

.plus {
  background-color: #1b3a6b;
  border-radius: 8px;
  padding: 9px 15px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.peopleInfo {
  width: 11%;
  background-color: #1e293b;
}

.InfoList {
  color: #60a5fa;
  font-size: 12px;
  font-weight: bold;
  background-color: #162032;
}

.InfoList img {
  width: 13px;
  height: 13px;
  margin-top: 2px;
  margin-right: 5px;
  margin-left: 5px;
}

.InfoList li {
  display: flex;
  padding: 10px;
  color: #94a3b8;
  font-weight: lighter;
}

.InfoList li:first-child {
  font-weight: bold;
  color: #60a5fa;
}

.InfoList li:nth-child(2),
.InfoList li:nth-child(3),
.InfoList li:nth-child(4) {
  background-color: #1e293b;
  padding-left: 40px;
}

.InfoList span {
  width: 3px;
  height: 3px;
  background-color: #94a3b8;
  border-radius: 50px;
  margin-top: 7px;
  margin-right: 5px;
}

.InfoMain {
  width: 1230px;
  padding: 20px 10px;
}

.mainContainer {
  width: 98%;
  margin: 0 auto;
}

.mainHeader {
  display: flex;
}

.mainHeader img {
  width: 12px;
  height: 12px;
  margin-top: 3px;
  margin-right: 8px;
}

.mainHeader span {
  margin-right: 8px;
  font-size: 13px;
  color: #6b7280;
}

.mainHeader p {
  font-size: 13px;
  color: #2563eb;
}

.mainTitle {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.mainLtitle p {
  font-size: 13px;
  color: #6b7280;
}

.mainRtitle {
  position: absolute;
  display: flex;
  right: 0;
}

.pdf_cont {
  width: 100%;
  text-align: center;
}

.pdf_cont span.pdf_img {
  width: 48px;
  height: 48px;
  background-color: #eff6ff;
  display: block;
  border-radius: 12px;
  position: relative;
  margin: 10px 0 10px 152px;
}

.pdf_img img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pdf_text p {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 5px;
}

.pdf_text span {
  font-size: 14px;
  font-weight: lighter;
}

.pdf_button {
  margin-top: 30px;
  display: flex;
}

.pdf_button button {
  border-radius: 8px;
  height: 44px;
  width: 180px;
}

.pdf_cancel {
  border: 1px solid #d1d5db;
}

.pdf_select {
  background-color: #2563eb;
  color: white;
}

.modal_head {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.modal_head img {
  width: 18px;
  height: 18px;
}

.modal_head p {
  font-size: 16px;
  font-weight: 700;
}
