body {
  max-width: 1440px;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #f1f5f9;
}

.main {
  display: flex;
  width: 100%;
}

.InfoMain {
  width: 1230px;
  padding: 20px;
  height: 100%;
}

.mainContainer {
  margin: 0 auto;
}

.appoint_card {
  margin-top: 10px;
  display: flex;
  width: 100%;
  gap: 10px;
}

.appoint_card li {
  width: 190px;
  height: 86px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.appoint_card li p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
}

.appoint_card li span {
  font-size: 24px;
  font-weight: bold;
}

.appoint_card p.lighter {
  margin-top: -1px;
  font-weight: bold;
  font-size: 11px;
}

.appoint_card p.box {
  margin-top: -1px;
  font-weight: bold;
  display: block;
  background-color: #ede9fe;
  border-radius: 50px;
  width: 83px;
  margin-left: 73px;
  font-size: 11px;
}

.appoint_card li:first-child {
  background-image: linear-gradient(-135deg, #1b3a6b 25%, #2563eb 75%);
}

.appoint_card li:first-child p {
  color: #93c5fd;
}

.appoint_card li img {
  width: 14px;
  height: 14px;
  margin-top: 2px;
  margin-right: 3px;
}

.appoint_card li:first-child span {
  color: white;
}

.appoint_card li:nth-child(2) {
  border: 1px solid #e5e7eb;
}

.appoint_card li:nth-child(2) p {
  color: #9ca3af;
}

.appoint_card li:nth-child(2) span {
  color: black;
}

.appoint_card li:nth-child(3) {
  border: 1px solid #bbf7d0;
  background-color: #f0fdf4;
}

.appoint_card li:nth-child(3) p {
  color: #16a34a;
}

.appoint_card li:nth-child(3) span {
  color: #15803d;
}

.appoint_card li:nth-child(4) {
  border: 1px solid #fde68a;
  background-color: #fffbeb;
}

.appoint_card li:nth-child(4) p {
  color: #d97706;
}

.appoint_card li:nth-child(4) span {
  color: #92400e;
}

.appoint_card li div {
  display: flex;
  gap: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 70px;
}

.appoint_card li div span {
  padding: 3px 10px;
  height: 21px;
  display: block;
  background-color: #fef9c3;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
}

.appoint_card li div p {
  display: block;
  font-size: 12px;
  font-weight: bold;
  background-color: #dcfce7;
  padding: 3px 10px;
  border-radius: 50px;
  margin-top: 0;
}
