.modal_head {
  display: flex;
}
.modal_head img {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  margin-top: 3px;
}
.modal_head p {
  font-size: 16px;
  font-weight: 700;
}

/* .modal_head {
  display: flex;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #1b3a6b;
  width: 600px;
  padding: 0 20px;
  height: 56px;
}


.modal_head p {
  color: white;
  font-size: 16px;
}

.modal_head span {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #2d5f9e;
  border-radius: 6px;
  color: white;
  text-align: center;
  line-height: 32px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.modal_cont {
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal_box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modalC_head {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e7eb;
}

.modalC_head span {
  width: 3px;
  height: 16px;
  background-color: #1b3a6b;
}

.modalC_head p {
  font-size: 14px;
  color: #1b3a6b;
  font-weight: bold;
}

.modalC_cont {
  display: flex;
  gap: 12px;
  flex-flow: row wrap;
}

.modalC_cont_box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modalC_cont_box label {
  display: flex;
  gap: 4px;
  font-size: 13px;
  color: #374151;
  font-weight: 700;
}

.modalC_cont_box label p {
  color: #ef4444;
}

.box_cont,
.modalC_cont_box select,
.modalC_cont_box input,
.modalC_radio {
  padding: 0 12px;
  height: 36px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  width: 278px;
  color: #9ca3af;
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  outline: none;
}

.modalC_cont_box select {
  background-color: white;
}

.modalC_radio {
  background-color: white;
}

.modalC_radio form {
  display: flex;
  gap: 16px;
}

.modalC_radio div {
  display: flex;
  gap: 6px;
}

.modalC_radio div input {
  width: 16px;
  height: 16px;
  margin-top: 10px;
}

.modalC_radio input[type="radio"] {
  accent-color: #1b3a6b;
}

.modalC_radio input[type="radio"] + label {
  color: #6b7280;
  font-weight: 400;
  font-size: 13px;
}

.modalC_radio input[type="radio"]:checked + label {
  color: #111827;
  font-weight: 500;
}

.modalC_cont_box2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modalC_cont_box2 label {
  font-size: 13px;
  color: #374151;
  font-weight: bold;
}

.address_box {
  display: flex;
  gap: 8px;
} */
